<%- include("partials/header.ejs") %>
<header>
    <h1><a class="logo" href="/">PLANNER</a></h1>
    <form action="/" method="POST">
        <input type="text" name="task" placeholder="What's in your mind?..." required>
        <input type="submit" value="Create">
    </form>
    <a class="links active" href="/">Today</a>
    <a class="links" href="/work">Work</a>
</header>
<main>
    <% const date = new Date() %>
    <% const today = new Date() %>
    <% if(locals.task) { %> 
      <% task.forEach((getOneTask) => { %>
        <div class="newTask">
            <% var randomNumber = Math.floor(Math.random() * 1000000) %>
            <label id="label">
                <input class="checkbox" type="checkbox"> &nbsp; <%= getOneTask %>
            </label>
        </div>
        <% })} else { %>
    <div class="newTaskIntro">
        <h4>Welcome to today's planner &#128400;</h4>
        <ul>
            <li>
                You can create as many tasks as you want.
            </li>
            <li>
                All of your today's tasks will show up here like boxes &nbsp; <span>&#128073;</span></div>
            </li>
        </ul>
    <div class="newTask"><h4>task #001</h4></div>
    <div class="newTask"><h4>task #002</h4></div>
    <div class="newTask"><h4>task #003</h4></div>
    <% } %>
</main>
<%- include("partials/footer.ejs") %>